USE [Inventory]
GO
/****** Object:  Table [dbo].[log]    Script Date: 8/5/2016 9:04:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[itemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[unit] [nvarchar](50) NULL,
	[io] [nvarchar](50) NOT NULL,
	[dateofpurchase] [date] NOT NULL,
	[dateofexpiry] [date] NULL,
 CONSTRAINT [PK_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[log] ON 

INSERT [dbo].[log] ([id], [itemID], [Quantity], [unit], [io], [dateofpurchase], [dateofexpiry]) VALUES (1, 1, 15, N'1 Ltr', N'i', CAST(N'2016-08-01' AS Date), CAST(N'2016-10-22' AS Date))
INSERT [dbo].[log] ([id], [itemID], [Quantity], [unit], [io], [dateofpurchase], [dateofexpiry]) VALUES (2, 2, 15, N'1 Ltr', N'i', CAST(N'2016-08-01' AS Date), CAST(N'2016-10-26' AS Date))
INSERT [dbo].[log] ([id], [itemID], [Quantity], [unit], [io], [dateofpurchase], [dateofexpiry]) VALUES (3, 3, 15, N'1 Ltr', N'i', CAST(N'2016-08-01' AS Date), CAST(N'2016-10-26' AS Date))
SET IDENTITY_INSERT [dbo].[log] OFF
