USE [Inventory]
GO
/****** Object:  Table [dbo].[type]    Script Date: 8/5/2016 8:36:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[typeID] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[subtype] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[type] ON 

INSERT [dbo].[type] ([typeID], [type], [subtype]) VALUES (30, N'root', N'food')
INSERT [dbo].[type] ([typeID], [type], [subtype]) VALUES (31, N'root', N'stationary')
INSERT [dbo].[type] ([typeID], [type], [subtype]) VALUES (32, N'food', N'Real Apple Juice')
SET IDENTITY_INSERT [dbo].[type] OFF
