
	
<div class="col-md-12" ng-init="allItems()" style="background-color:white; padding: 10px;">
	
		
		<div class="col-md-12">




			<div class="col-md-12" style=" background-color:black; color:white; line-height:3;">

				<div class="col-md-2"  >ITEMS </div>
					
		        <div class="col-md-4" id="custom-search-input">
                        <div class="input-group col-md-12" >
                            <input type="text" ng-model="searchByName" class="search-query form-control" style="background-color:black; color:black; background-color: white;height:20px !important;" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                 </div>
                 <div class="col-md-4" style="text-align:right;color:black !important;">
					<select ng-model="selectedCity" ng-options="city for city in cities">
					</select>
				</div>
			     <div class="col-md-2">
			     	<a data-toggle="modal" data-target="#myModal" class="pull-right icon" ng-click="initiallizeArr()" style="color:white !important;">
		        	<span class="glyphicon glyphicon-plus"></span> </a>
				</div>
				

			</div>
			<table class="table-striped table-bordered" style="padding:5px;">
	              <col width="50">
	              <col width="200">
	              <col width="50">
	              <col width="50">
	                  <col width="800">
	              <thead >
	                <tr >          
	                  <th >Sr.No. </th>
	                  <th >Item Name</th>
	                  <th >Quantity</th>
	                  <th >Unit</th>
	                  <th >Actions</th>           
	                </tr>
	            </thead>              
	            <tbody>

	              <tr ng-repeat="item in items | filter:{itemName: searchByName, location: selectedCity} track by $index ">
	                
	                <td >
				         {{$index}}</td>
			        <td >
			            {{item.itemName}}</td>
			        <td>
			            {{item.quantity}}</td>
		              <td>
		            {{item.unit}}</td>

			         <td style="padding:2px; width:20px;s"> <input type="number" ng-model="quantity" min="1" max="1000"> <button class="btn-xs btn-danger" ng-click="reduceItemQty(item, quantity)">Remove</button>  <button class="btn-xs btn-danger" ng-click="removeItem(item.itemId)">Delete </button>
			        <md-datepicker  ng-model="doeF" md-placeholder="DOE"></md-datepicker>
					<md-datepicker  ng-model="dopF" md-placeholder="DOP"></md-datepicker>
					 <button class="btn-xs btn-success" ng-click="addItemQty(item, quantity,doeF, dopF )" >Add</button>
			         </td>
	              </tr>
               </tbody>
            </table>

		</div>
		<br>

	

	<div class="col-md-12 pd10">
			<div class="col-md-3 pd0"><input type="text" class="form-group" ng-model="itemType" placeholder="Item Type"> </div>
			<div class="col-md-3 pd0"><input type="text" class="form-group" ng-model="itemSubType" placeholder="Item Subtype"> </div>
			<div class="col-md-4 pd0"><button  class="btn btn-sm" ng-click="addType(itemType,itemSubType)">Add Type</button></div>

		</div>

	  
</div>


<div id="myModal" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:black;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color:white;" >Add New Items</h4>
      </div>
      <div class="modal-body">
			
      		<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
			        Add Item Manually</a>
			      </h4>
			    </div>




			    <div id="collapse1" class="panel-collapse collapse in">
			      <div class="panel-body">            
			      	<div class="col-md-12 pd0" >
						<div class="col-md-4 pd0" ><input type="text" style="width:95%;" class="form-group" ng-model="newItem.itemName" placeholder="Item name"> </div>
						<div class="col-md-4 pd0" ><input type="text" style="width:95%;" class="form-group" ng-model="newItem.typeId" placeholder="Type Id"></div>
						<div class="col-md-4 pd0" ><input type="text" style="width:95%;" class="form-group" ng-model="newItem.brand" placeholder="Brand"> </div>
						<div class="col-md-4 pd0"><input type="number" style="width:95%;"  class="form-group" ng-model="newItem.quantity" placeholder="Qty"></div>
						<div class="col-md-4 pd0"><input type="text" style="width:95%;"  class="form-group" ng-model="newItem.unit" placeholder="Unit"></div>
						<div class="col-md-4 pd0"><input type="number" style="width:95%;"  class="form-group" ng-model="newItem.threshold" placeholder="Threshold Qty"></div>
						<md-datepicker  ng-model="doeF" md-placeholder="DOE"></md-datepicker>
						<md-datepicker  ng-model="dopF" md-placeholder="DOP"></md-datepicker>
						
						<br>

						<div style="text-align:center; margin-top:15px;"><button class="btn btn-xs" style="height:30px;" ng-click="addItem(newItem)">Add </button></div>
						
					</div>
				</div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
			        Upload List Of New Items</a>
			      </h4>
			    </div>

			    <div id="collapse2" class="panel-collapse collapse">

			      <div class="panel-body">
			      		<div class="col-md-12 pd0">
				      		<div class="col-md-4">
				      			
				      		</div>
				      		<div class="col-md-4">
				      			<label class="customUpload btnUpload btnM"> <span><small>Upload files</small></span>
						    		<input type="file" class="upload" ng-model="filePath" />
								</label>

				      		</div>
				      		<div class="col-md-4">
				      			
				      		</div>
				      	</div> <br>
				      	<center>
			      		<div  style="text-align:center"><button class="btn btn-xs" style="height:30px;" ng-click="addItemFile(filePath)">Add </button></div>
						<div class="col-md-2"></div>
						</center>
			      	  
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
			        Add New Collection
			        </a>
			      </h4>
			    </div>
			    <div id="collapse3"  class="panel-collapse collapse">
			      <div class="panel-body">

			      	<div class="col-md-12 pd0" >
						<div class="col-md-6 pd0" style="height: 40px;" ><input type="text" style="width:95%;" class="form-group" ng-model="collection.itemName" placeholder="Collection name"> </div>
						<div class="col-md-6 pd0" style="height: 40px;"><input type="text" style="width:95%;" class="form-group" ng-model="collection.typeId" placeholder="Type Id"></div>
						
						<!-- <input type="text" class="form-control col-md-3" style="width:10%; height:30px; " uib-datepicker-popup ng-model="doeF" is-open="popup1.opened"
						ng-required="true" placeholder="From"
						close-text="Close" /> 
						<span class="input-group-btn col-md-1">
							<button type="button" class="btn btn-default" style="width:30px; height:30px; " ng-click="open1()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span> 
						
						<input type="text" class="form-control col-md-3" style="width:10%; height:30px; " uib-datepicker-popup ng-model="dopF" is-open="popup1.opened"
						ng-required="true" placeholder="From"
						close-text="Close" /> 
						<span class="input-group-btn col-md-1">
							<button type="button" class="btn btn-default" style="width:30px; height:30px; " ng-click="open1()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							
						</span>  -->

						<md-datepicker  ng-model="doeF" md-placeholder="DOE"></md-datepicker>
						<md-datepicker  ng-model="dopF" md-placeholder="DOP"></md-datepicker>
						<input type="number" ng-model="collection.quantity" class="form-control col-md-2" style="width:13%; height:30px; margin-top:7px; margin-right:30px;s" placeholder="Qty" /> 

						<br>
						Select items for collection:-
						<table class="table-striped table-bordered" style="padding:5px;">
				              <col width="100">
				              <col width="500">
				              <col width="500">
				             
				              <thead >
				                <tr >    
				                   <th></th>      
				                  <th >Item ID </th>
				                  <th >Item Name</th>
				                            
				                </tr>
				            </thead>              
				            <tbody>

				              <tr ng-repeat="item in items track by $index">
				                
				                <td><input type="checkbox" ng-model="arr[$index]"
           ng-true-value="'YES'" ng-false-value="'NO'"></td>
				                <td >
							         {{item.itemID}}</td>
						        <td >
						            {{item.itemName}}</td>
					
				              </tr>
			              </tbody>
			            </table>
			            <br>
						<div style="text-align:center"><button class="btn btn-xs" style="height:30px;" ng-click="addCollection()">Add </button></div>


					</div>
			      </div>
			    </div>
			  </div>
			</div>


      </div>
      <div class="modal-footer" style="margin-top:80px;">
        <button type="button" class="btn btn-sm" data-dismiss="modal" ng-click="allItems()">Close</button>
      </div>
    </div>

  </div>
</div>



